# **Basic if Statement**

The if statement evaluates a condition (an expression that returns True or False). If the condition is True, the indented block of code below the if statement is executed.

In [1]:
# Example of a basic if statement

x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

**Explanation:**

The condition x > 5 is evaluated. Since x is 10, which is greater than 5, the statement print("x is greater than 5") is executed.

**2. if-else Statement**

In [2]:
# Example of if-else statement

x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

**if-elif-else Statement**

In [3]:
# Example of if-elif-else statement

x = 7

if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5 but less than or equal to 10")
else:
    print("x is 5 or less")

x is greater than 5 but less than or equal to 10

**4. Nested if Statements**

In [4]:
# Example of nested if statements

x = 15

if x > 10:
    print("x is greater than 10")
    if x > 20:
        print("x is also greater than 20")
    else:
        print("x is 10 to 20")
else:
    print("x is 10 or less")

x is greater than 10
x is 10 to 20

**5. Multiple Conditions Using Logical Operators**

You can combine multiple conditions using logical operators like and, or, and not.

**5.1 Using and**

In [5]:
# Example of using and in if statement

x = 15

if x > 10 and x < 20:
    print("x is between 10 and 20")

x is between 10 and 20

**Explanation:**

Both conditions x > 10 and x < 20 must be True for the block to execute.

**5.2 Using or**

In [6]:
# Example of using or in if statement

x = 5

if x < 5 or x > 10:
    print("x is either less than 5 or greater than 10")
else:
    print("x is between 5 and 10")

x is between 5 and 10

**Explanation:**

The block of code executes if at least one of the conditions is True.

**5.3 Using not**

In [7]:
# Example of using not in if statement

x = 8

if not x > 10:
    print("x is not greater than 10")

x is not greater than 10

**Explanation:**

The not operator inverts the condition, so x > 10 becomes False, making the condition True.

**6. Using if with Lists**

In [8]:
# Example of using if with lists

fruits = ["apple", "banana", "cherry"]

if "banana" in fruits:
    print("Banana is in the list")

Banana is in the list

**7. Using if with Dictionaries**

In [9]:
# Example of using if with dictionaries

person = {"name": "Alice", "age": 30}

if "name" in person:
    print("Name is in the dictionary")

Name is in the dictionary

**8. Conditional Expressions (Ternary Operator)**

In [10]:
# Example of conditional expression

x = 10
result = "Greater than 5" if x > 5 else "5 or less"
print(result)

Greater than 5

**9. Practical Example**

In [11]:
# Program to categorize a person's age

age = 25

if age < 0:
    print("Invalid age")
elif age < 18:
    print("Minor")
elif age < 65:
    print("Adult")
else:
    print("Senior")

Adult

**Explanation:**

This program categorizes a person based on their age:
age < 0: Invalid age
age < 18: Minor
age < 65: Adult
Otherwise, Senior